# Polynomial Regression

Polynomial regression is a supervised machine learning algorithm used to make predictions on continuous values.

It is essentially an extension of linear regression, where we apply linear regression to the original features plus newly created polynomial features.

If there is a more complex (non-linear) relationship between the input and output, polynomial regression can be applied. This method adds higher-degree powers of each feature as new features, as well as their combinations.

For example, if we use polynomial regression with a degree d=3 and features aa and bb, the new feature set will include:$a^2$, $b^2$, $a^2b$, $ab^2$ it's just like applying linear regression on features a,b,c,d,e,f where c=$a^2$, d=$b^2$, e=$a^2b$, f=$ab^2$.

The higher the degree dd, the more likely the model is to overfit the training data, as it gains many **degress of freedom**.

In genereal, to evalueate a regression model we use these metrics:
- **MSE :**
$$
MSE = \frac{1}{n} \sum_{i=1}^{n} (y_i - \hat{y}_i)^2
$$

- **RMSE :**
$$
RMSE = \sqrt{ \frac{1}{n} \sum_{i=1}^{n} (y_i - \hat{y}_i)^2 }
$$

- **MAE :**
$$
MAE = \frac{1}{n} \sum_{i=1}^{n} \left| y_i - \hat{y}_i \right|
$$

- **MSPE :**
$$
MSPE = \frac{1}{n} \sum_{i=1}^{n} \left( \frac{y_i - \hat{y}_i}{y_i} \right)^2
$$

- **R-squared :**
$$
R^2 = 1 - \frac{ \sum_{i=1}^{n} (y_i - \hat{y}_i)^2 }{ \sum_{i=1}^{n} (y_i - \bar{y})^2 }
$$

- **Adjusted R-squared :**
$$
R^2_{adj} = 1 - \left( \frac{(1 - R^2)(n - 1)}{n - p - 1} \right)
$$

p: Number of features.

n: Number of samples.

# Step 1: Import libraries

In [42]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression
from sklearn.pipeline import make_pipeline
from sklearn.metrics import mean_squared_error
from sklearn.metrics import root_mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_absolute_percentage_error
from sklearn.metrics import r2_score

# Step 2: Get the data

In [45]:
df = pd.read_csv("data/housing.csv")

# Step 3: Dataset Overview

In [48]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [50]:
df.shape

(20640, 10)

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [54]:
df.describe(include='number')

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20640.000000,20640.000000,20640.000000,20640.000000,20433.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,-119.569704,35.631861,28.639486,2635.763081,537.870553,1425.476744,499.539680,3.870671,206855.816909
std,2.003532,2.135952,12.585558,2181.615252,421.385070,1132.462122,382.329753,1.899822,115395.615874
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.800000,33.930000,18.000000,1447.750000,296.000000,787.000000,280.000000,2.563400,119600.000000
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.534800,179700.000000
75%,-118.010000,37.710000,37.000000,3148.000000,647.000000,1725.000000,605.000000,4.743250,264725.000000
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [56]:
df.describe(include='object')

       ocean_proximity
count            20640
unique               5
top          <1H OCEAN
freq              9136

# Step 4: Data transformation

In [59]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [61]:
df['ocean_proximity'].unique()

array(['NEAR BAY', '<1H OCEAN', 'INLAND', 'NEAR OCEAN', 'ISLAND'],
      dtype=object)

In [63]:
encoder = OneHotEncoder(sparse_output=False)
encoded_ocean_proximity = encoder.fit_transform(df[['ocean_proximity']])
encoded_df = pd.DataFrame(encoded_ocean_proximity, columns=encoder.categories_[0])
df = df.drop(columns=['ocean_proximity'])
df = pd.concat([df, encoded_df], axis=1)

In [65]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,<1H OCEAN,INLAND,ISLAND,NEAR BAY,NEAR OCEAN
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,0.0,0.0,0.0,1.0,0.0
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,0.0,0.0,0.0,1.0,0.0
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,0.0,0.0,0.0,1.0,0.0
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,0.0,0.0,0.0,1.0,0.0
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,0.0,0.0,0.0,1.0,0.0

# Step 5: Split data in train/test sets

In [68]:
y = df['median_house_value']
X = df.drop(columns=['median_house_value'])
X = X.fillna(X.mean()) 

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [70]:
degree = 3
model = make_pipeline(PolynomialFeatures(degree), LinearRegression())

# Extraire le modèle LinearRegression (étape finale du pipeline)
linear_model = model.named_steps['linearregression']
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

# Afficher les coefficients et l'intercept
print("Coefficients :", linear_model.coef_)
print("Intercept :", linear_model.intercept_)

Coefficients : [-9.77899555e-01  1.00295533e+04 -2.09254082e+04  2.16356534e+05
  4.09918565e+04 -2.44891481e+05  3.62662230e+04 -4.09642464e+04
 -2.13728787e+04 -1.31803978e+04  2.25939229e+04 -3.91159822e+03
 -3.70556500e+03 -9.17780708e+03 -8.49262719e+03 -4.23286408e+04
  1.19096984e+04  9.17538508e+02 -5.54952997e+03  1.06133496e+03
 -1.38486005e+03  5.98488460e+04  8.84467329e+04 -1.97106217e+05
 -4.55166565e+00  1.37024855e+04  1.20537439e+05 -4.69346911e+04
  1.74025008e+04  4.74299750e+02 -2.95118979e+03  8.86166083e+02
 -1.90237069e+03  1.64017740e+05  3.04247652e+05 -7.76191260e+05
  1.11143716e-01 -1.21142577e+04  4.16882515e+05  5.51155890e+02
  4.06994219e+00  2.27675848e+02 -1.87690714e+01 -1.87555608e+02
 -1.02637338e+04  1.71072441e+05  1.71386645e+05 -1.00415247e-01
 -3.20966037e+05  1.77261080e+05 -7.40003893e-01  1.40879409e+00
 -8.10586127e-01  7.18232052e+00 -5.70077554e+01  8.82120905e+03
  8.34088762e+03 -4.79667351e-01  1.12639003e+04  8.32615727e+03
  1.17954744e+01 -3.77976455e+00  3.50727634e+00  1.02681045e+03
 -5.64902778e+04 -5.11549746e+04 -1.22354353e-01 -8.29487204e+04
 -5.39681925e+04 -8.63506928e-01  6.15843728e+00  1.95474796e+00
  1.31308366e+04  1.02591869e+04 -2.70713314e-01  1.47807744e+04
  1.11220623e+04 -2.32951866e+01 -9.17886474e+02 -1.44902581e+04
 -9.06101601e+03 -1.12669154e-01 -5.80491607e+03 -9.11717082e+03
  1.07428940e+05 -4.21245106e+05 -4.24285337e+05 -4.93955441e-03
  6.74194623e+05  1.57979954e+05 -2.32022798e+03  2.98234452e-03
  5.36845391e-03 -7.54468838e-03  2.77014317e-03  8.01640226e+03
 -3.93499804e-03 -1.93122619e-03 -1.85811812e-03 -1.55539540e-03
  8.38756888e-04 -1.23752936e-04 -2.90708489e+02 -4.59726537e-04
 -5.40547152e+03 -2.61820048e+02 -1.94105677e+03  1.22426936e+02
  5.11864345e+00 -3.20396324e+01  7.44695880e+00 -1.11199665e+01
  1.03071468e+03 -9.43632147e+03 -1.34566104e+04 -1.26418546e+01
  2.31249260e+04 -9.43403252e+03 -4.71965989e+03  3.28164627e+02
  3.82632930e+00 -2.84930618e+01  1.40544205e+01 -2.74104299e+01
  4.28634918e+03 -5.96810317e+04 -7.35968893e+04  3.56769844e+00
  1.51121065e+05 -6.13065884e+04  7.10337573e+00  1.45774769e-01
  2.75855466e+00 -2.33889295e-01 -2.55565416e+00 -1.92701991e+02
  4.79857246e+03  4.70955962e+03  3.23094144e+00 -3.49930850e+03
  4.89543024e+03 -3.52202962e-03 -1.38907770e-02 -7.12420576e-03
  6.33987653e-02 -5.89054107e-01  2.14149309e+02  2.04789609e+02
  5.56597305e+01  2.42205109e+02  2.00545033e+02  1.14663190e-01
 -8.80319917e-02  1.15110247e-01  7.70351280e+00 -1.38309359e+03
 -1.26680312e+03  1.55208771e+01 -1.58486708e+03 -1.32585395e+03
  2.32865631e-03  1.15462253e-01 -1.61604441e-01  2.84827965e+02
  2.12063333e+02  3.31050978e+01  3.00807903e+02  2.34438221e+02
 -3.87791225e-01 -7.29007793e+00 -4.15800821e+02 -2.76515110e+02
  1.30156751e+01 -4.34074603e+02 -2.68798815e+02  1.52464896e+03
  4.43459640e+03  3.69636180e+03  2.99779058e-01  3.28789408e+04
  1.88391082e+04  8.84471553e+04  1.30170083e-05 -3.12329284e-05
 -1.58795084e-05  4.33539332e-06 -1.97102393e+05  5.00780169e-06
 -4.51464883e-05  1.90471580e-06  1.06660037e-01 -2.94528262e-06
 -4.69969581e-05  1.37068294e+04  9.34909536e-06  1.20530721e+05
 -3.87356517e+03  2.35609076e+02 -1.59882694e+00  3.55349589e+00
  8.50856419e+00 -1.56167738e+01  4.06370598e+03 -9.78548176e+04
 -9.26886473e+04 -1.00670102e+00  2.47190442e+05 -1.03581800e+05
  3.31776681e+00  1.80312293e-01  1.66035970e+00 -2.86781944e-01
 -1.77934024e+00 -2.49930130e+02  4.57581536e+03  4.35029269e+03
 -9.11812890e-01  3.81883296e+03  4.65653425e+03 -4.20406693e-03
  4.01217980e-03 -5.72900071e-03  4.60993829e-02  5.09693938e-01
  1.37863020e+02  1.32671622e+02 -1.57120758e+01  1.00734889e+02
  1.20550311e+02  5.23470656e-02 -1.27081822e-01  2.67296582e-01
 -5.51484544e+00 -9.60154400e+02 -8.65945226e+02 -4.38204782e+00
 -2.19606339e+02 -9.02945957e+02  1.85477582e-03  1.51774413e-01
 -2.20128948e+00  2.69176864e+02  1.85289998e+02 -9.34633504e+00
  2.31105771e+02  2.11503770e+02 -4.71611671e-01  5.73207006e+00
 -4.37046546e+02 -2.66853837e+02 -3.67485426e+00 -9.45751492e+02
 -2.50600749e+02  1.55749542e+03  2.87773698e+04  2.74264738e+04
 -8.45959827e-02  6.31659277e+04  4.46487567e+04  3.04247498e+05
 -1.60434865e-09 -3.84425221e-08  4.61659511e-09 -3.54266376e-08
 -7.76191802e+05 -1.91721483e-09  1.61298885e-08  1.91212166e-08
 -3.01021045e-02  3.23852873e-08 -2.53203325e-09 -1.21141686e+04
 -1.77533366e-08  4.16882701e+05  1.05133350e+00  2.99930837e-02
 -7.60571738e-02  2.16933390e-02 -1.61997899e-01 -9.50618861e+00
  1.60987618e+02  1.31994016e+02 -8.41411697e-01  1.42151606e+02
  1.16781155e+02  1.09779619e-04  2.02681983e-03 -2.39910223e-04
 -2.52039562e-03  2.51680000e-02  4.87645316e+00  5.02487369e+00
 -1.52388715e+01  4.10032137e+00  5.15783164e+00 -2.15965298e-02
 -4.73465329e-03  4.07046428e-02 -1.30148537e+00  6.09506196e+01
  5.79349052e+01 -4.16701559e+00  6.09479884e+01  5.20052105e+01
  9.55035393e-04  2.41505310e-03 -1.13286939e-01 -3.49995753e+00
 -2.70211521e+00 -7.89152492e+00 -1.43264681e+00 -3.49963487e+00
 -1.75813945e-02  1.67033213e+00 -4.66599773e+01 -4.89455477e+01
 -3.12140265e+00 -4.82184675e+01 -4.07996040e+01 -5.30526609e+01
 -2.55413976e+03 -2.49770979e+03 -7.84495634e-02 -2.61307651e+03
 -2.59868803e+03  1.71072343e+05  0.00000000e+00  0.00000000e+00
  0.00000000e+00  0.00000000e+00  1.71386884e+05  0.00000000e+00
  0.00000000e+00  0.00000000e+00 -2.72693641e-02  0.00000000e+00
  0.00000000e+00 -3.20965889e+05  0.00000000e+00  1.77261206e+05
  1.14021896e-06 -1.50224369e-05 -3.13229975e-06  7.77772948e-06
 -1.17362941e-03  4.66149620e-01  4.69357555e-01 -2.75123553e+00
  4.59522881e-01  4.63109692e-01  1.15565606e-04 -5.39916800e-06
 -8.69976684e-05  2.04627717e-02 -3.31377538e+00 -3.31156865e+00
  1.40292488e+01 -3.48030515e+00 -3.27356086e+00  7.70075712e-06
 -1.03307684e-06 -1.74211653e-03  1.63826383e-01  1.64656495e-01
  6.57876429e+00  1.74427988e-01  1.63644329e-01  5.46395131e-06
 -4.83724804e-03 -1.12984032e+00 -1.15246746e+00  9.74717139e+00
 -9.18369040e-01 -1.15546058e+00 -5.81121610e-01 -1.36916079e+01
 -1.35309819e+01 -1.57101483e+00 -1.26306879e+01 -1.55623133e+01
  8.82120628e+03  0.00000000e+00  0.00000000e+00  0.00000000e+00
  0.00000000e+00  8.34087588e+03  0.00000000e+00  0.00000000e+00
  0.00000000e+00 -4.69408576e-01  0.00000000e+00  0.00000000e+00
  1.12638804e+04  0.00000000e+00  8.32612504e+03 -2.11056821e-04
  2.83562798e-04 -6.87098886e-04 -1.94403108e-01  8.57198597e-01
  8.36808794e-01  7.91944615e+00  7.70850429e-01  8.40700302e-01
  5.84305089e-05 -8.33096843e-04 -5.87010551e-03 -2.38761852e+00
 -2.30437976e+00  3.63943592e+00 -1.71684707e+00 -2.40663191e+00
  2.07010576e-03  2.84789541e-01  1.27280977e-01 -1.44508007e-01
  3.74592658e+00 -6.45656453e-01  6.89292498e-02 -7.43933861e+00
  2.39740585e+02  2.42568418e+02 -4.34628030e-01  3.24764535e+02
  2.20205501e+02 -5.64902812e+04  0.00000000e+00  0.00000000e+00
  0.00000000e+00  0.00000000e+00 -5.11549957e+04  0.00000000e+00
  0.00000000e+00  0.00000000e+00 -1.30874362e-01  0.00000000e+00
  0.00000000e+00 -8.29486990e+04  0.00000000e+00 -5.39682123e+04
  1.67274266e-07 -1.08929133e-04 -4.70021623e-03  1.10773271e+00
  1.08309905e+00 -1.19565897e+01  1.12097010e+00  1.09338335e+00
  7.07853333e-04  4.06765155e-02  2.29283308e+00  2.29733354e+00
 -2.32323643e+00  1.47793535e+00  2.42106826e+00  5.31558521e+00
 -3.91792882e+00  1.06540681e+01 -8.53873940e-01 -5.76337034e-01
 -3.33854303e+00  1.31308389e+04  0.00000000e+00  0.00000000e+00
  0.00000000e+00  0.00000000e+00  1.02591987e+04  0.00000000e+00
  0.00000000e+00  0.00000000e+00 -2.79195917e-01  0.00000000e+00
  0.00000000e+00  1.47807695e+04  0.00000000e+00  1.11220672e+04
 -1.35310330e-03 -1.77529368e-01 -6.36481688e+00 -6.12899480e+00
  2.66159842e-01 -5.41433460e+00 -6.46974922e+00 -7.30434826e+00
 -1.87781529e+02 -2.51886084e+02 -3.39151451e-01 -3.17584656e+02
 -1.60284067e+02 -1.44902500e+04  0.00000000e+00  0.00000000e+00
  0.00000000e+00  0.00000000e+00 -9.06101903e+03  0.00000000e+00
  0.00000000e+00  0.00000000e+00 -1.09758555e-01  0.00000000e+00
  0.00000000e+00 -5.80491576e+03  0.00000000e+00 -9.11717096e+03
 -2.93674573e+02  2.72416302e+04  2.55791421e+04 -7.12556300e-03
  2.70206634e+04  2.75875113e+04 -4.21245106e+05  0.00000000e+00
  0.00000000e+00  0.00000000e+00  0.00000000e+00 -4.24285334e+05
  0.00000000e+00  0.00000000e+00  0.00000000e+00 -2.53015702e-03
  0.00000000e+00  0.00000000e+00  6.74194622e+05  0.00000000e+00
  1.57979961e+05 -2.32022781e+03  0.00000000e+00  0.00000000e+00
  0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
  0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
  0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
  8.01640507e+03  0.00000000e+00  0.00000000e+00  0.00000000e+00
  0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
  0.00000000e+00  0.00000000e+00 -9.00108818e-04  0.00000000e+00
  0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
 -2.90706811e+02  0.00000000e+00  0.00000000e+00 -5.40546955e+03]
Intercept : 7367161.531430417

In [39]:
mse = mean_squared_error(y_test, y_pred)
rmse = root_mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
mape = mean_absolute_percentage_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f'MSE : {mse}')
print(f'RMSE : {rmse}')
print(f'MAE : {mae}')
print(f'MAPE : {mape * 100:.2f}%')
print(f"R² : {r2}")

n = len(y_test)           
p = X_test.shape[1]    

r2_adj = 1 - (1 - r2) * (n - 1) / (n - p - 1)

print("Adjusted R²:", r2_adj)

MSE : 22092748432.730465
RMSE : 148636.29581206088
MAE : 44534.16917012241
MAPE : 25.65%
R² : -0.6859429994434174
Adjusted R²: -0.6912704809681536